<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Classification</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <h1>Image Classification</h1>
    <form id="upload-form" action="/predict" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="file-input">
        <button type="submit">Upload</button>
    </form>
    <div id="image-container">
        <div id="image-preview"></div>
        <div id="response"></div>
    </div>

    <script src="../static/script/script_image.js"></script>
</body>
</html>
